{% extends "base.html" %}

{% block page_content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            {% for album,urls in d.items() %}

              <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ url_for('static',filename=album[1]~'_t/'~urls[0][0]) }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ album[1] }}<i class="material-icons right"><a class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">add</i></a>
      </i></span>
      <p><a href="{{ url_for('main.photos',album_id=album[0]) }}">进入相册</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4" style="text-align: center">{{ album[1] }}<i class="material-icons right">close</i></span>
      <p style="text-align: center">{{ album[2] }}</p>
    </div>
  </div>
            <hr>
            {% endfor %}
            <hr>
		</div>
	</div>
    </div>
{% endblock %}